:root {
    --bg-color: hsl(217, 78%, 16%);
    --title-color: white;
    --text-color: rgb(157, 169, 179);
    --margin-bottom-container: 25px;
    --margin-top-container: 25px;
}

h1 {
    color: var(--title-color);
    margin: 50px 0px 0px 0px;
    padding-bottom: 10px;
    
}
h2{
    color: var(--bg-color);
    margin: 50px 50px
}
h3{
    color: var(--bg-color);
    margin: 0px 0px 0px 0px;
    padding: 0;
}

h4 {color: var(--title-color);
font-size: 25px}

p {
    font-size: 18px;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
span{
    color: var(--text-color);
    padding: 5px;
    margin-left: 10px;
    
    
}

button {
    font-size: 12px;
    border-radius: 5px;
    border: solid 1px;
    border-color: var(--title-color);
    background-color: transparent;
    box-sizing: border-box;
    color: var(--title-color);
    padding: 15px;
    margin: 10px 0px;
    display: inline-block;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
    box-sizing: border-box;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.navbar .navbar-menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    gap: 17%;
    padding-bottom: var(--margin-bottom-container);
}

.hero-left {
    display: flex;
    flex-direction: column;
}


.hero-right {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.hero-right img {
    width: 300px;
    display: flex;
    position: relative;
    bottom: -15px;
}

.container {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.container .icons {
    width: 100%;
    margin-top: var(--margin-top-container);
    margin-bottom: var(--margin-bottom-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons .icons-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--text-color);
    border: solid 1px;
    padding: 10px;
    width: 15%;
   
}

.icons-card span {
    margin: 0px;
    padding: 0px;
}

.icons-card img {
    width: 60px;
    height: 50px;
    margin-left: 5px;
}

.container-uno {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--margin-bottom-container);
    
}

.container-uno .sotto-menu{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    box-sizing: border-box;
    gap: 20px;
    border-bottom: solid !important; /*nu merge */
    border-color: var(--text-color) !important; /*nu merge*/
}

.container-uno-hero {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: var(--margin-top-container);
}

.container-uno-hero img{
   width: 100%; 
    align-items: center;
    position: relative;
    
}

.container-uno-hero .hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    top: 1000;
    margin-left: 5%;
    margin-top: 20%;
}

.container-uno-cards {
    width: 100%;
    margin-top: var(--margin-top-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--margin-bottom-container);
    
}

.container-uno-cards .card{
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: var(--bg-color);
    border-radius: 15px;
    padding-bottom: 10px;
}
.container-uno-cards .card img{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container-due {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-bottom-container);

}
.container-due .services{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.container-due .services .text {
    width: 50%;
    background-color: var(--bg-color);
    padding-left: var(--margin-top-container);
    padding-top: var(--margin-top-container);
    padding-bottom: var(--margin-bottom-container);
    border-radius: 15px;
}
.container-due .services .img img{
   width: 150%;
   height: 100%;
   border-radius: 15px;
}


.container-due .services1{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.container-due .services1 .text1 {
    width: 53%;
    background-color: var(--bg-color);
    padding-left: var(--margin-top-container);
    padding-top: var(--margin-top-container);
    padding-bottom: var(--margin-bottom-container);
    border-radius: 15px;
    height: 100%;
}
.container-due .services1 .img1 {
   width: 120%;
   height: 100%;
   border-radius: 15px;
}
.container-due .services1 .img1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.footer{
    margin-top: 50px;
    padding-top: var(--margin-top-container);
    padding-bottom: var(--margin-bottom-container);
    width: 100%;
    background-color: var(--bg-color);

}
.footer .container-footer {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .container-footer img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.footer .container-footer .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.footer .container-footer .contact {
    display: flex;
    flex-direction: column;
}

    
/*
Perche mi mette automaticamente margin intorno al testo?
Come posso fare la linea lunga qunato e il container. La linia a la stessa lunghezza del testo, non del container
Quando faccio il landing, ha uno  stesso width, COME faccio di impostare il width della pagina e il width del container. Diciamo che voglio avere il width del container 80% del width del landing
Non riesco di ingrandire l'imagine con Rolls Royce
*/